# Data
/data/temp
/data/processed
/data/raw
/environments/

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp
.Ruserdata

# RStudio files
.Rproj.user/

# R Environment Variables
.Renviron

# Other 
x\ superseded/
*.csv
*.xlsx
*.html
*.tex
*.tiff
*.jpeg
*.jpg
*.png
*.pdf
*.sqlite
*.Rproj
*.csv
*.xlsx
*.docx
*.db
*.pptx
*.rds
*.tab
